@font-face {
    font-family: "Faster One Regular";
    src: url("/Fonts/FasterOne-Regular.ttf") format('truetype')
}

html {
    box-sizing: border-box;

    width: 100%;
    height: 100%;

    margin: 0px;
    padding: 0px;
}

body {
    box-sizing: border-box;

    width: 100%;
    height: 100%;

    margin: 0px;
    padding: 0px;

    font-family: "Faster One Regular", Arial, sans-serif;
}

body input {
    font-family: "Faster One Regular", Arial, sans-serif;
}
