.DS_STORE
*.log
*.wasm

node_modules
npm-debug.log
package-lock.json

.idea/
.ipynb_checkpoints/

.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

src/node_js/server/user_created
src/browser_js/**/**/bundle.js
dist/*